{% extends "minigames/base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h1>Password Reset</h1>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn password-reset-button">Reset Password</button>
    </form>
</div>
{% endblock %}
