/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Header and Navbar */
header {
    background: #2c3e50;
    color: white;
    padding-bottom: 1rem; 
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.navtop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center; 
    padding: 1rem;
    width: 100%;
}

.navbottom {
    display: flex;
    align-items: center;
    justify-content:left;
    background-color: rgb(6, 117, 181);
    width: 100%;
    padding: 0.2rem;
}

.logo img {
    width: 5em;
    height: auto;
    margin-right: 1rem;
}

.site-title h1 {
    margin: 0;
    font-size: 2.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 3rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #18bc9c;
}

/* Main content */
main.content {
    padding: 2rem 1rem;
    margin: 0 3em;
    background: #ecf0f1;
    border-radius: 5px;
    flex-grow: 1; 
}

/* Footer */
footer.footer {
    background: #2c3e50 !important;
    color: white !important;
    text-align: center !important;
    padding: 1rem 0 !important;
    margin-top: auto; 
}

footer.footer p {
    margin: 0px !important;
}


html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Mobile */
@media (max-width: 768px) {
    .navtop {
        flex-direction: column; 
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .site-title h1 {
        font-size: 2rem;
    }

    .logo img {
        width: 4em; 
    }

    .main-wrapper {
        padding: 1rem;
    }

    main.content {
        margin: 2rem auto; /* Center on all devices */
        padding: 1rem;
        box-sizing: border-box;
    }
}

@media (max-width: 1024px) {
    .site-title h1 {
        font-size: 2.5rem;
    }

    .navtop {
        padding: 1rem;
    }

    .main-wrapper {
        padding: 1rem;
    }
}
