.password-reset-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}

.password-reset-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0000;
    font-size: 2em;
}

.password-reset-container form {
    display: inline-block;
    text-align: left;
    flex-direction: column;
}

.password-reset-container form p {
    margin-bottom: 15px;
}

.password-reset-container form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-reset-container form button:hover {
    background-color: #0056b3;
}

.password-reset-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.password-reset-button:hover {
    background-color: #0056b3;
}
